#btn {
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
  width: 100%;
  &:hover {
    transform: scale(0.99);
  }
}
.img {
  width: 45vw;
  height: 120vh;
  background-size: cover;
  object-fit: fill;
}
