.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;

  .input,
  .btn {
    font-size: 1.8rem;
    margin: 0.7rem 0;
    border: none;
    font-weight: bold;
    border-radius: 5px;
  }
  .input:focus {
    outline: none;
  }
  .btn {
    border: 1px solid black;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: black;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  margin-right: 6rem;

  .grid {
    display: grid;
    grid-template-columns: 20rem 2fr;
    grid-template-rows: 1fr;
    margin: 0.2rem;
  }
}
.grid-item {
  background-color: lightgoldenrodyellow;
  border-radius: 0.4rem;
  overflow: hidden;
  width: 30rem;

  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}
