.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;

  .title {
    text-decoration: none;
    color: white;
    margin: 0 3rem;
    font-size: 1.4rem;
  }

  .link-container {
    ul {
      display: flex;

      li {
        border: 2px solid white;
        padding: 0.5rem;
        margin: 1rem 5rem 1rem -3rem;
        list-style: none;
        border-radius: 5px;
        width: 100%;

        .btn {
          color: white;
          padding: 0.2rem;
          font-size: 1.2rem;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            color: blue;
            background-color: white;
            // padding: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 962px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
